@use '../../Styled/Theme.scss' as c;

.form {
    margin: 2em 0 0 2em;
    label{
        display: block;
        margin: 1em 0 0 0;
        font-size: 1.2em;
    }
    input{
        padding: 4px;
        box-shadow: 3px 2px 4px rgba(0, 0, 0, 0.25);
        border: 1.5px solid c.$Black;
        width: 90%;
    }
    .register{
        margin-top: 5em;
    }
    button{
        background-color: c.$DarkBlue; 
        border: none;
        color: white;
        padding: 1em 0;
        width: 90%;
        text-align: center;
        text-decoration: none;
        font-size: 2em;
        margin-top: 1.7em;
        box-shadow: 3px 2px 4px rgba(0, 0, 0, 0.25);
    }
}