@use '../../Styled/Theme.scss' as c;

.form {
    margin: 2em 0 0 2em;

    .h1, .h1ss {
        font-family: Sriracha;
    }

    label{
        display: block;
        margin: 1em 0 0 0;
        font-size: 1.2em;
    }
    input{
        padding: 4px;
        box-shadow: 3px 2px 4px rgba(0, 0, 0, 0.25);
        border: 1.5px solid c.$Black;
        width: 80%;
    }
    .register{
        margin-top: 5em;
        margin-bottom: 5em;
        width: 80%;
    }
    .signin {
        width: 80%;
        margin-bottom: 4.3em;
    } 

    button{
        background-color: c.$DarkBlue; 
        border: none;
        color: white;
        padding: 1em 0;
        width: 80%;
        text-align: center;
        text-decoration: none;
        font-size: 2em;
        margin-top: 1.7em;
        box-shadow: 3px 2px 4px rgba(0, 0, 0, 0.25);
        cursor: pointer;
    }
}

@media screen and (min-width: 600px) {
    .input {
        width: 80%;
        padding: 5px;
    }
    
    .containerss {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .label {
        font-size: 1.5em;
        padding: 5px;
    }

    .button {
        width: 80%;
    }


}

@media screen and (min-width: 1000px) {

    
}
