@use '../Styled/Theme.scss' as c;

.sectionContainer{
    margin: 2.5em;
    background-color: c.$Cyan;
    height: 20vh;
    span{
        display: flex;
        justify-content: space-between;
    }
    p{
        margin: 0.5em;
    }
    
}