@use '../Styled/Theme.scss' as c;

.container {
    padding-bottom: 7em;
}

section{
    margin: 4em;
    background-color: c.$Cyan;
    height: 25vh;
    border-radius: 5px;

    span{
        display: flex;
        justify-content: space-between;
        font-weight: bold;
    }
    p{
        margin: 1em;
    }
    
}

@media screen and (min-width: 700px) {
    .container {
        display: flex;
        justify-content: space-around;
        padding-left: 8em;
        padding-right: 8em;
    }

    section {
        width: 45%;
        height: 12em;
        margin-bottom: 5em;
    }
}