@use '../Styled/Theme.scss' as c;

* {
    font-family: c.$IBM-Font;
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 2rem;
    background-color: c.$DarkBlue;
    color: c.$White;
    img{
        width: 35%;
    }
    nav{
        ul{
            display: flex;
            align-items: center;
            justify-content: space-between;
            list-style: none;
            a{
                color: c.$White;
                margin: 0 2rem;
                text-decoration: none;
            }
        }
    }
}

.beachimg {
    width: 100%;
    height: 500px;
} 