@use '../Styled/Theme.scss' as c;

.footer {
    height: 100px;
    background-color: c.$DarkBlue;
    position: relative;
    .footercontainer {
        display: flex;
        align-items: center;
        justify-content: space-around;
        position: absolute;
        top: 30%;
        p{
            color: c.$White;
            font-weight: 500;
        }
        .goals {
           max-width: 20%;
        }
        .icons{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            svg{
                fill: black;

            }
        }
    }
}